html {
  font-size: $baseFontSize;
}
body {
  font-family: $raleway;
  font-size: rem(17px);
}

.container {
  max-width: $maxWidth;
  padding: 0 15px;
  margin: auto;
}
.headhide {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
img {
  vertical-align: top;
}
.fluid-img {
  width: 100%;
  max-width: 100%;
}
.img-shadow{
  box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}